.popup {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    display: none;
  }

  .popup[data-show] {
    display: block;
  }

  .popup-arrow,
  .popup-arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
  }

  .popup-arrow {
    visibility: hidden;
  }

  .popup-arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
  }

  .popup[data-popper-placement^='top'] > .popup-arrow {
    bottom: -4px;
  }

  .popup[data-popper-placement^='bottom'] > .popup-arrow {
    top: -4px;
  }

  .popup[data-popper-placement^='left'] > .popup-arrow {
    right: -4px;
  }

  .popup[data-popper-placement^='right'] > .popup-arrow {
    left: -4px;
  }