.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 0;
    background-color: var(--theme-header-background);
    box-shadow: 0px 2px 8px var(--theme-box-shadow-color);
    z-index: 996;

    .header-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
        padding: 0 1rem;

        .header-left {
            display: flex;

            .header-title {
                font-size: 1.5rem;
                font-weight: 600;

                :deep(.icon img) {
                    border-radius: 50%;
                }

                :deep(.text) {
                    @extend .text-gradient;
                }
            }

            .side-icon {
                display: none;
            }
        }

        .header-right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 0 1.2rem;

            .header-links {
                display: flex;
                gap: 0 1.5rem;

                .link-item {
                    text-decoration: none;
                    svg {
                        border-radius: 8px;
                        @extend .box-gradient;
                    }

                    :deep(.text) {
                        font-weight: 600;
                        color: var(--theme-text-color);
                        transition:
                            background var(--transition-time) linear,
                            color var(--transition-time) linear;
                        &:hover {
                            @extend .text-gradient;
                        }
                    }
                }
            }

            .theme-control {
                position: relative;
                width: 1.5rem;
                height: 1.5rem;
                overflow: hidden;
                .theme-btn {
                    transition: all var(--transition-time) ease;

                    &.dark {
                        transform: translateY(-1.5rem);
                    }
                }

                :deep(.icon img) {
                    width: 100%;
                }
            }
        }
    }
}
