.code-demo {
    width: 100%;
    border-bottom: 1px solid var(--theme-gradient-color-1);
    .code-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        .code-desc {
            @extend .text-gradient;
        }
    }
    pre {
        margin-top: -1rem;
        code.hljs {
            color: var(--theme-code-color);
            background-color: var(--theme-code-background);
            font-family: FangYuan;
        }
    }
}
