* {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --theme-font: "Poppins", sans-serif;
    --theme-gradient-color-1: #F8B127;
    --theme-gradient-color-2: #CB26B6;
    --theme-text-color: #333;
    --theme-page-background: #f1f1f1;
    --theme-header-background: #ffffff;
    --theme-button-background: #9f2b83;
    --theme-box-shadow-color: rgba(0, 0, 0, 0.05);
}

:root[theme=dark] {
    --theme-font: "Poppins", sans-serif;
    --theme-gradient-color-1: #11c4d4;
    --theme-gradient-color-2: #0c81e4;
    --theme-text-color: #adbac7;
    --theme-page-background: #22272e;
    --theme-header-background: #22272e;
    --theme-button-background: #0051FF;
    --theme-box-shadow-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1999px) and (min-width: 1699px) {
    .home .home-main .menu-wrap .menu-grid {
        transform: rotate(-45deg) translate(1rem, 4rem) !important;
    }
}

@media screen and (max-width: 1399px) and (min-width: 1199px) {
    .home .home-main .menu-wrap .menu-grid {
        transform: rotate(-45deg) translate(-4rem, 1rem) !important;
    }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .home .home-main {
        flex-direction: column-reverse;
    }

    .home .home-main .menu-wrap .menu-grid {
        margin-top: 60px;
    }

    .home .home-content {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {

    .home .home-main {
        margin: 0 !important;
        flex-direction: column-reverse;
    }

    .home .home-main .menu-wrap .menu-grid {
        width: 200px !important;
        height: 200px !important;
        margin-top: 50px;
    }

    .home .home-content {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {

    .home .header .container {
        margin: 0 1rem !important;
    }
    .home .header .container .header-right{
        display: none !important;
    }
    .home .header .container .header-menu{
        display: block !important;
    }
    .home .home-main {
        flex-direction: column-reverse;
        margin: 0 !important;
        padding: 0 !important;
    }

    .home .home-main .menu-wrap {
        width: 100% !important;
    }

    .home .home-main .menu-wrap .menu-grid {
        width: 120px !important;
        height: 120px !important;
        margin-top: 60px;
    }

    .home .home-main .menu-wrap .menu-grid .menu-item .btn-container {
        justify-content: center;
        align-items: center;
    }

    .home .home-main .menu-wrap .menu-grid .menu-item .btn-container .btn-text {
        display: none;
    }

    .home .home-main .menu-wrap .menu-grid .menu-item {
        border-radius: 10px !important;
        border: 2px solid var(--theme-page-background);
    }

    .home .home-main .menu-wrap .menu-grid .menu-item:nth-child(1) {
        transform: translate(200%, 0);
    }

    .home .home-main .menu-wrap .menu-grid .menu-item:nth-child(2) {
        transform: translate(100%, 0);
    }

    .home .home-main .menu-wrap .menu-grid .menu-item:nth-child(3) {
        transform: translate(200%, 100%);
    }

    .home .home-main .menu-wrap .menu-grid .menu-item:nth-child(4) {
        transform: translate(-200%, 0);
    }
    .home .home-main .menu-wrap .menu-grid .menu-item:nth-child(6) {
        display: block !important;
        width: 120px !important;
        height: 120px !important;
        left: 0 !important;
        top: -200% !important;
    }
    .home .home-main .menu-wrap .menu-grid .menu-item:nth-child(6) .btn-text {
        display: block;
    }

    .home .home-content {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100% !important;
        padding: 0 2rem;
    }
    .home .home-content h1{
        padding-bottom: .5rem !important;  
    }
    .home .home-content h1 span:nth-child(1){
        font-size:1.5rem;
    }
    .home .home-content h2{
        font-size:1.5rem;
        padding-bottom: .5rem !important; 
    }
    .home .home-content p.home-info {
        width: 85%;
        padding-top: 1rem;
        padding-bottom: 2rem !important;
    }
  
    .home .home-content .start-btn {
        display: none;
    }

}