.page-menu {
    z-index: 997;
}
.menu-button {
    width: 3.75rem;
    height: 3.75rem;
    cursor: pointer;
    z-index: 5;
    transition: all 0.2s linear;
    z-index: 998;
    opacity: 0.5;
    box-shadow: 0px 5px 20px 0px var(--theme-box-shadow-color);
    background: transparent;
    outline: none;

    &.active {
        opacity: 1;
        @extend .box-gradient;

        .menu-icon {
            svg {
                fill: #fff;
            }
        }
    }

    &:hover {
        @extend .active;
    }

    .menu-icon {
        svg {
            fill: var(--theme-gradient-color-2);
            width: 2rem;
        }
    }
}

.menu {
    --content-padding: 3.75rem;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    .menu-header{
        padding: var(--content-padding);
        padding-bottom: 0;
        text-align: center;
        h1{
            font-size:3rem;
            text-shadow:
            0 2px var(--theme-gradient-color-1),
            2px 0 var(--theme-gradient-color-1),
            0 -2px var(--theme-gradient-color-1),
            -2px 0 var(--theme-gradient-color-1),
            2px 2px var(--theme-gradient-color-1),
            2px -2px var(--theme-gradient-color-1),
            -2px -2px var(--theme-gradient-color-1),
            -2px 2px var(--theme-gradient-color-1);
        }
    }
    .menu-content {
        
        padding: var(--content-padding);
       
        .card-box {
            margin: 1.5rem 0;
        }
        .card-box:first-child {
            margin-top: 0;
        }
        .card-box:last-child {
            margin-bottom: 0;
        }
    }
}

.scale-enter-active,
.scale-leave-active {
    transform: scale(1);
    transition: all var(--transition-time) cubic-bezier(0.075, 0.82, 0.165, 1);
}

.scale-enter-from,
.scale-leave-to {
    transform: scale(0);
}
