@import '@/assets/css/index.scss';
select {
    border: 1px solid #ccc; /* 设置边框样式 */
    border-radius: 5px; /* 设置边框圆角半径 */
    padding: 5px 10px; /* 设置内文本填充量 */
    background-color: #f5f5f5; /* 设置背景颜色 */
    color: #333; /* 设置内文本颜色 */
    font-size: 14px; /* 设置内文本字体大小 */
    width: 200px; /* 设置宽度 */
    height: 30px; /* 设置高度 */
}
.menu-button {
    width: 3.75rem;
    height: 3.75rem;
    cursor: pointer;
    z-index: 5;
    transition: all .2s linear;
    z-index: 998;
    opacity: 0.5;
    box-shadow: 0px 5px 20px 0px var(--theme-box-shadow-color);
    background: transparent;
    outline: none;

    &.active {
        opacity: 1;
        @extend .box-gradient;

        .menu-icon {
            svg {
                fill: #fff;
            }
        }
    }

    &:hover {
        @extend .active
    }

    .menu-icon {
        svg {
            fill: var(--theme-gradient-color-2);
            width: 2rem;
        }
    }
}

.menu {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);

    .menu-content {
        padding: 3.75rem;
    }
}

.scale-enter-active,
.scale-leave-active {
    transform: scale(1);
    transition: all var(--transition-time) cubic-bezier(0.075, 0.82, 0.165, 1);
}

.scale-enter-from,
.scale-leave-to {
    transform: scale(0);
}