.fade-enter-from {
    opacity: 0;
}

.fade-leave-to {
    opacity: 0;
}

.fade-enter-from .fade-container,
.fade-leave-to .fade-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.popup-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .popup-footer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }
}
